<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">CAR WASH APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

<li *ngFor="let item of menuItems" class="nav-item">
  <a class="nav-link" href="#">{{item.linkName}} <span class="sr-only">(current)</span></a>
</li>

   
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"  type="submit" >Search</button>
    </form>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=" ">CarWashApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="active-link">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/service" routerLinkActive="active-link">service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link login" routerLink="/login" routerLinkActive="active-link">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link login " routerLink="/signup" routerLinkActive="active-link">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link login " routerLink="/adminlogin" routerLinkActive="active-link">Admin</a>
        </li>
      </ul>
      <span class="navbar-text">
    
      </span>
    </div>
  </div>
</nav>