.heading{
    /* margin-left: 200px; */
    margin-top:-500px;
    text-align: center;
    position: relative;
    
  }
 .auto2{
     margin-left:- 100px;
    margin-top:-5px;
    text-align: center;
    position: relative;
    width: 750px;
 } 